<p>Hey!</p>
<br>

<p>Seems like you forgot your password! Click the link below to sign in to your account and reset your password in account settings.</p>
<p><%= @link%></p>

<br><br>

<p>~The Generics Clothing</p>