<p>Hey!</p>

<br>

<p>We appreciate you signing up to our newsletter!</p>
<br>
<p>
  Welcome to the our happy family here at The Generics Clothing. We hope we can bring you your favorite clothes at an affordable price!
  Feel free to make an account if you haven't already, and if you don't want to keep getting emails from us, you can unsubscribe to the
  newsletter via the account page. You can even resubscribe there too!
</p>
<br>
<p>
  Now that you've subscribed, we will be sending you updated on our clothing lines, as well as special discount codes and offers exclusive
  to our amazing subscribers!
</p>

<br>
<br>

<p>~The Generics Clothing</p>