<!DOCTYPE html>
<br><br><br><br><br>

<html>
    <head>
        <title>The Generics Store | All Purchases</title>
        <meta name="description" content="All Purchases Page">
        <script src="store.js" async></script>
    </head>

    <body>
        <section class="container content-section">

            <div class="shop-items">

                <% if @purchases.empty? %>
                <h3>Your saved list is empty!</h3>
                <% end %>
                <center>
                <ul>
                <% @purchases.each do |i| %>

                    <%= image_tag i.image, :size => "150x150" %>
                    <li><%= i.title %> purchased by <%= i.email %> on <%= i.created_at %></li>
                    <br><br><br><br><br>
                <% end %>
                </ul>
                </center>
            </div>
        </section>
    </body>
</html>

<br><br><br><br><br>