.banner{
    width: 100%;
    background: url(Denim.png);
    background-size: cover;
    font-size: 80px;
    color: #333;
    text-align: center;
    padding: 40px 15px;
}

.big-text{
    font-size: 130px;
    font-weight: 800;
}

.banner a{
    display: inline-block;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40px;
    padding: 15px;
    transition: .3s;
}

.banner a:hover{
    background: #333;
    color: #fff;
}