<head>
        <title>The Generics Store | Newsletter</title>
        <meta name="description" content="Newsletter page">
        <script src="store.js" async></script>
</head>

<body>
  <h1>Subscribe to the newsletter!</h1>
  <p><%= @message %></p>

<%= form_with url: newsletter_path do |form| %>
  <div class="mb-3">
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Subscribe To Newsletter", class: "btn btn-primary" %>
  </div>
<% end %>



</body>
